{% extends "base.html" %}

{% block head %}
<title>Game</title>
{% endblock %}

{% block body %}
<label class="title">Enter the Dungeon</label>
<p></p>
<p></p>
<form action="/game.html" method="POST" id="dialog">
	    <section class="container">
      <div class="containers">
        <div class="container">
          <label class="title">Scene</label>
          <p>	<label for="dialog">{{ msj }}</label><br></p>
			        </div>
	  </div>
    </section>
				<label class="title">Answers</label>
	<div class="radio-button">
			{% for i in range(len) %}

	<label>
<i class="icon arrow-right"></i><input type="radio" id="answer" name="answer" value="{{ i }}">    {{ interactions[i].getDescription() }}<br>
	</label>
		  {% endfor %}
	</div>
	<button type="submit" class="btn">Submit</button>

</form>

{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}

				<p>{{ msg }}</p>
			{% endfor %}
	{% endif %}
{% endwith %}

	        <div class="container dark">
			 <label class="title">Map</label>
			<img src="static/map.svg"/>
		</div>

{% endblock %}